// Colors
$body-bg-color: #deeeff;
$border-color: rgba(7, 10, 33, 0.05);
$header-color: #000000;
$menu-text-color: #828493;
$menu-active-color: #070a21;

// Font-sizes
$font-size-m: 14px;
$font-size-l: 16px;

// Fonts
$font-distancia: 'Distancia-Bold';
$font-pjs-medium: 'PlusJakartaSans-Medium';
$font-pjs-semi: 'PlusJakartaSans-SemiBold';
$font-pjs-bold: 'PlusJakartaSans-Bold';
$font-pjs-extra: 'PlusJakartaSans-ExtraBold';
